// FONTS
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

// COLORS
$bgColor: #fefefe;
$textColor: #000;
$linkColor: #38CC85;

*, *:after, *:before {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $bgColor;
    color: $textColor;
}

#wrapper {
    width: 50%;    
    margin: 0 auto;
    padding: 20px;
    background-color: darken($bgColor, 5%);
    border-bottom: 5px solid darken($bgColor, 10%);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    @extend h2;  
    color: #104954;
}

hr {
    color: #ccc;
    background-color: #ccc;
    height: 1px;
    border: none;
    width: 70%;
}

a {
    text-decoration: none;
    color: $linkColor;
    border-bottom: 1px dotted $linkColor;
    
}

a:hover {
    border-bottom: 1px solid #104954;
}

a:active {
    color: #104954;
    border-bottom: 1px solid #104954;
}

.fa {
    width: 32px;
    font-size: 14px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

// SMALL SCREEN
@media screen and (max-width: 768px) {
    #wrapper {
        width: 100%;
    }
}