@font-face {
  font-family: 'Asul';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Asul-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Asul';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/Asul-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Special Gothic Expanded One';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/SpecialGothicExpandedOne-Regular.ttf') format('truetype');
}